@{
    ViewBag.Title = "Home Page";
}

<div class="slick-class">
    <div><img src="/Images/phone7plus.jpg" alt="Image" /></div>
    <div><img src="/Images/pixelgoogle.png" alt="Image" /></div>
    <div><img src="/Images/oneplus3.jpg" alt="Image" /></div>
</div>